
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200;300&family=Roboto&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;
}
.container{
  background: linear-gradient(to right, #ffb6c1, #8a2be2);
  height: 100vh;
  display: flex;
}
.container img{
  height: 100vh;
  width: 30%;
  overflow: hidden;
}
.wrapper{
  width: 600px;
  height: 400px;
  background-color: #ffff;
  margin:auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
h1{
  font-size: 40px;
  font-weight: 600;
  color: rgb(203, 5, 144);
  margin: 50px 0;
}
button{
  height: 40px;
  width: 150px;
  background-color: rgb(203, 5, 144);
  border-radius: 5px;
  font-size: 20px;
  color: #ffff;
  margin: 30px 0;
  border: 1px solid black;
}
/* .font{
  font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
} */